{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque ipsum deserunt veniam dignissimos nesciunt repellendus autem ex tempore, fugit dolores nostrum facilis nobis accusantium alias similique. Neque ullam reprehenderit, optio quasi nesciunt pariatur dolore est ratione sequi expedita consequuntur quidem velit esse enim sed eum fuga eligendi officiis culpa ipsam voluptatibus debitis alias? Odio doloremque error beatae eos dolorum minus necessitatibus recusandae delectus repudiandae, suscipit vero et earum, sapiente dolore! Reprehenderit aliquid atque quos explicabo, aspernatur quisquam, illum praesentium aut sapiente accusamus ullam, nobis facilis odit dolorem delectus! Quas incidunt cumque voluptas blanditiis, facere ratione? Iste quo voluptatibus repellat hic.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                SignIn
            </a>
            <a class="btn btn-warning" href="/signup/">
                SignUp!
            </a>
        </div>
        
    </section>
</main>
{% endblock %}